@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";



body {
  position: relative;
  width: 100%;
  background-image: url(./assets/bgc.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
